.mainSlider {
  overflow: hidden;
  position: relative;
  height: 100vh;
  background-image: url("../../../assets/img/main-slider-1-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
