.casesOne {
  position: relative;
  display: block;
  background-color: #f2f4f8;
  padding: 180px 0 90px;
  margin-top: -60px;
}
.casesOneContainer {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.casesOneTitle {
  margin-top: -12px;
  margin-bottom: 50px;
  text-align: center;
}
.casesOneTitle h2 {
  margin: 0;
  font-weight: 900;
  color: #0f0d1d;
  font-size: 50px;
  line-height: 60px;
  text-transform: uppercase;
  margin-bottom: 8px;
  letter-spacing: -0.02em;
}
.casesOneTitle p {
  position: relative;
  display: inline-block;
  color: #726f84;
  font-size: 18px;
  align-items: center;
  line-height: 30px;
}
.casesOneRow {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-right: -15px;
  margin-left: -15px;
}
.casesOneRow > * {
  flex-shrink: 0;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.casesOneSingle {
  margin-bottom: 30px;
}
.casesOneBox {
  position: relative;
  overflow: hidden;
}
.casesOneImg {
  background-color: #0f0d1d;
}
.casesOneImg img {
  width: 100%;
  mix-blend-mode: luminosity;
  transform: scale(1);
  opacity: 0.7;
  transition: all 500ms ease;
}
.casesOneSingle:hover .casesOneImg img {
  transform: scale(1.05);
  opacity: 1;
  transition: all 500ms ease;
}
.casesOneContent {
  padding: 48px 50px 44px;
  background-color: transparent;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 40px;
  z-index: 1;
}
.casesOneContent::before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: "";
  background-color: #3c72fc;
  z-index: -1;
  transform: translateY(100%);
  transition: all 500ms ease;
}
.casesOneSingle:hover .casesOneContent::before {
  transform: translateY(0);
}
.casesOneIcon span {
  font-size: 65px;
  color: white;
  line-height: 65px;
  display: block;
  transform: scale(1);
  transform-origin: left center;
  transition: transform 500ms ease;
}
.casesOneSingle:hover .casesOneIcon span {
  transform: scale(0.85);
}
.casesOneContent p {
  font-size: 14px;
  color: white;
  font-weight: 800;
  margin: 0;
  line-height: 24px;
  text-transform: uppercase;
  padding-top: 14px;
  padding-bottom: 17px;
  letter-spacing: 0.1em;
}
.casesOneContent h2 {
  font-size: 30px;
  color: white;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 34px;
  letter-spacing: -0.02em;
}
.casesOneContent h2 a {
  text-decoration: none;
  color: white;
  transition: all 500ms ease;
  background: linear-gradient(to right, currentcolor 0%, currentcolor 100%) 0px
    87% / 0px 2px no-repeat;
}
.casesOneContent h2 a:hover {
  color: white;
  background-size: 100% 2px;
}
@media (max-width: 767px) {
  .casesOneTitle h2 {
    font-size: 27px;
    line-height: 37px;
  }
}
@media (min-width: 576px) {
  .casesOneContainer {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .casesOneContainer {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .casesOneContainer {
    max-width: 960px;
  }
  .casesOneCol {
    flex: 0 0 auto;
    width: 33.3%;
  }
}
@media (min-width: 1200px) {
  .casesOneContainer {
    max-width: 1200px;
  }
}
@media (max-width: 1199px) {
  .casesOneContent {
    right: 0;
    padding: 48px 30px 44px;
  }
}
